#container-index{
    width: 100%;
    .cajaTexto{
        padding: 5rem 0 5rem 5rem;
        .titulo{
            text-align: center;
            font-size: 60px;
            font-family: $tipografiaTitulo;
        }
        .descripcion{
            @extend %estilosParrafo;
            padding: 50px 65px;
        }
    }
    .cajaImagen{
        display: flex;
        justify-content: space-around;
        padding: 0;
        .imagen{
            width: 750px;
            height: 519px;
        }
    }
}

