#nosotros{
    width: 100%;
    height: 80vh;
    .quienesSomos{
        padding: 5rem 0 0 7rem;
        .nosotrosTitulo{
            @extend %estilosTitulos;
            @include typoTitle ($tipografiaTitulo, $colorTitulo);
        }
        p{
            @extend %estilosParrafo;
        }
    }
    .asideNosotros{
        display: flex;
        justify-content: center;
        align-items: center;
        .Paraiso-2{
            border-radius: 10px;
            height: 60vh;
        }
    }  
}


