.container{
    .tituloProd{
        @extend %estilosTitulos;
        @include typoTitle ($tipografiaTitulo, $colorTitulo);
    }
    .descripcionProd{
        @extend %estilosParrafo;
    }
}

#cardContenedor{
    display: flex;
    justify-content: center;
    .card{
        margin-bottom: 2rem;
        #{
            width: 286px;
            height: 287px;
        }
        .card-title{
            font-family: $tipografiaTitulo;
        }
        .card-text{
            color: rgba(51, 51, 51, 0.805);
        }
        .btn{
            width: 40%;
            padding: 8px 16px;
            margin-top: 32px;
            border: 1px solid #000;
            border-radius: 5px;
            display: block;
            color: #fff !important;
            background-color: #000;
            font-family: $tipografiaTitulo;
            font-size: 1.2rem;
            &:hover{
                background-color: rgba(51, 51, 51, 0.815);
                border: none;
                transform: scale(1.1);
                transition: .3s;
            }
        }
    }
}

